/* BARRA */
.nav-item{text-align: center;
	-webkit-text-align: center;
	-moz-text-align: center;
	-o-text-align: center;
	-ms-text-align: center;}
.transparente{
	background-color: rgba(0,0,0,.2);
	-webkit-background-color: rgba(0,0,0,.2);
	-moz-background-color: rgba(0,0,0,.2);
	-o-background-color: rgba(0,0,0,.2);
	-ms-background-color: rgba(0,0,0,.2);}


/* LOGIN */
.formLoginCont{
	background-image: url('../img/fondos/tree-838667.jpg');
	-webkit-background-image: url('../img/fondos/tree-838667.jpg');
	-moz-background-image: url('../img/fondos/tree-838667.jpg');
	-o-background-image: url('../img/fondos/tree-838667.jpg');
	-ms-background-image: url('../img/fondos/tree-838667.jpg');

	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	-moz-background-repeat: no-repeat;
	-o-background-repeat: no-repeat;
	-ms-background-repeat: no-repeat;

	background-position: center center;
	-webkit-background-position: center center;
	-moz-background-position: center center;
	-o-background-position: center center;
	-ms-background-position: center center;

	background-attachment: fixed;
	-webkit-background-attachment: fixed;
	-moz-background-attachment: fixed;
	-o-background-attachment: fixed;
	-ms-background-attachment: fixed;

	background-size: auto;
	-webkit-background-size: auto;
	-moz-background-size: auto;
	-o-background-size: auto;
	-ms-background-size: auto;

	background-position: cover;
	-webkit-background-position: cover;
	-moz-background-position: cover;
	-o-background-position: cover;
	-ms-background-position: cover;}
.formLogin{
	height: 900px;
	-webkit-height: 900px;
	-moz-height: 900px;
	-o-height: 900px;
	-ms-height: 900px;

	display: table;
	-webkit-display: table;
	-moz-display: table;
	-o-display: table;
	-ms-display: table;}
.vertical-center {
	display: table-cell;
	-webkit-display: table-cell;
	-moz-display: table-cell;
	-o-display: table-cell;
	-ms-display: table-cell;

	 vertical-align: middle;
	-webkit- vertical-align: middle;
	-moz- vertical-align: middle;
	-o- vertical-align: middle;
	-ms- vertical-align: middle;
}


/* FORMULARIOS */
.from-1{
	background-color: rgba(0,0,0,0);
	-webkit-background-color: rgba(0,0,0,0);
	-moz-background-color: rgba(0,0,0,0);
	-o-background-color: rgba(0,0,0,0);
	-ms-background-color: rgba(0,0,0,0);

	border:0;
	-webkit-border:0;
	-moz-border:0;
	-o-border:0;
	-ms-border:0;

	border-bottom: 1px solid rgba(255,255,255,.0);
	-webkit-border-bottom: 1px solid rgba(255,255,255,.0);
	-moz-border-bottom: 1px solid rgba(255,255,255,.0);
	-o-border-bottom: 1px solid rgba(255,255,255,.0);
	-ms-border-bottom: 1px solid rgba(255,255,255,.0);

	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-o-border-radius: 0px;
	-ms-border-radius: 0px;

	color: white;
	-webkit-color: white;
	-moz-color: white;
	-o-color: white;
	-ms-color: white;}
.from-1:focus{
	background-color: rgba(0,0,0,0);
	-webkit-background-color: rgba(0,0,0,0);
	-moz-background-color: rgba(0,0,0,0);
	-o-background-color: rgba(0,0,0,0);
	-ms-background-color: rgba(0,0,0,0);

	border:none;
	-webkit-border:none;
	-moz-border:none;
	-o-border:none;
	-ms-border:none;

	border-bottom: 2px solid white;
	-webkit-border-bottom: 2px solid white;
	-moz-border-bottom: 2px solid white;
	-o-border-bottom: 2px solid white;
	-ms-border-bottom: 2px solid white;

	color: white;
	-webkit-color: white;
	-moz-color: white;
	-o-color: white;
	-ms-color: white;}
.from-1::placeholder{
	color: rgba(255,255,255,0.8);
	-webkit-color: rgba(255,255,255,0.8);
	-moz-color: rgba(255,255,255,0.8);
	-o-color: rgba(255,255,255,0.8);
	-ms-color: rgba(255,255,255,0.8);

	text-align: center;
	-webkit-text-align: center;
	-moz-text-align: center;
	-o-text-align: center;
	-ms-text-align: center;}
.from-1:focus::placeholder{
	color: rgba(255,255,255,0.4);
	-webkit-color: rgba(255,255,255,0.4);
	-moz-color: rgba(255,255,255,0.4);
	-o-color: rgba(255,255,255,0.4);
	-ms-color: rgba(255,255,255,0.4);}


/* BOTONES */
.place-letras-separadas::placeholder{letter-spacing: 2px;}
/* OTROS */
@media only screen and (max-width: 1500px) {
	.formLogin{
	height: 600px;
	-webkit-height: 600px;
	-moz-height: 600px;
	-o-height: 600px;
	-ms-height: 600px;

	display: table;
	-webkit-display: table;
	-moz-display: table;
	-o-display: table;
	-ms-display: table;}
}


@media only screen and (max-width: 767px) {
	.formLogin{
	height: 500px;
	-webkit-height: 500px;
	-moz-height: 500px;
	-o-height: 500px;
	-ms-height: 500px;

	display: table;
	-webkit-display: table;
	-moz-display: table;
	-o-display: table;
	-ms-display: table;}
	.transparente{
	background-color: rgba(0,0,0,.8);
	-webkit-background-color: rgba(0,0,0,.8);
	-moz-background-color: rgba(0,0,0,.8);
	-o-background-color: rgba(0,0,0,.8);
	-ms-background-color: rgba(0,0,0,.8);}
}