/* BARRA */
.navbar{
	font-weight: bold;
	-webkit-font-weight: bold;
	-moz-font-weight: bold;
	-o-font-weight: bold;
	-ms-font-weight: bold;
	
}
.nav-item{text-align: center;
	-webkit-text-align: center;
	-moz-text-align: center;
	-o-text-align: center;
	-ms-text-align: center;}
.transparente1{
	background-color: rgba(0,0,0,.0);
	-webkit-background-color: rgba(0,0,0,.0);
	-moz-background-color: rgba(0,0,0,.0);
	-o-background-color: rgba(0,0,0,.0);
	-ms-background-color: rgba(0,0,0,.0);
}

.navbar-avatar {
	width: 25px;
	-webkit-width: 25px;
	-moz-width: 25px;
	-o-width: 25px;
	-ms-width: 25px;
}

.dropdown-item:hover{
	background-color: #17a2b8;
	-webkit-background-color: #17a2b8;
	-moz-background-color: #17a2b8;
	-o-background-color: #17a2b8;
	-ms-background-color: #17a2b8;

	color: white;
	-webkit-color: white;
	-moz-color: white;
	-o-color: white;
	-ms-color: white;}
/* LOGIN */
.formLoginCont{
	background-image: url('../img/fondos/f4.jpg');
	-webkit-background-image: url('../img/fondos/f4.jpg');
	-moz-background-image: url('../img/fondos/f4.jpg');
	-o-background-image: url('../img/fondos/f4.jpg');
	-ms-background-image: url('../img/fondos/f4.jpg');

	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	-moz-background-repeat: no-repeat;
	-o-background-repeat: no-repeat;
	-ms-background-repeat: no-repeat;

	background-position: center center;
	-webkit-background-position: center center;
	-moz-background-position: center center;
	-o-background-position: center center;
	-ms-background-position: center center;

	background-attachment: fixed;
	-webkit-background-attachment: fixed;
	-moz-background-attachment: fixed;
	-o-background-attachment: fixed;
	-ms-background-attachment: fixed;

	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;

	background-position: cover;
	-webkit-background-position: cover;
	-moz-background-position: cover;
	-o-background-position: cover;
	-ms-background-position: cover;

	height: 1000px;
	-webkit-height: 1000px;
	-moz-height: 1000px;
	-o-height: 1000px;
	-ms-height: 1000px;
}
.formLogin{
	background-color: rgba(30,30,30,.2);
	-webkit-background-color: rgba(30,30,30,.2);
	-moz-background-color: rgba(30,30,30,.2);
	-o-background-color: rgba(30,30,30,.2);
	-ms-background-color: rgba(30,30,30,.2);

	height: 1000px;
	-webkit-height: 1000px;
	-moz-height: 1000px;
	-o-height: 1000px;
	-ms-height: 1000px;
}
#formLog {
	width: 100%;
	-webkit-width: 100%;
	-moz-width: 100%;
	-o-width: 100%;
	-ms-width: 100%;
}


/* FORMULARIOS */
.from-1{
	background-color: rgba(0,0,0,0);
	-webkit-background-color: rgba(0,0,0,0);
	-moz-background-color: rgba(0,0,0,0);
	-o-background-color: rgba(0,0,0,0);
	-ms-background-color: rgba(0,0,0,0);

	border:0;
	-webkit-border:0;
	-moz-border:0;
	-o-border:0;
	-ms-border:0;

	border-bottom: 1px solid rgba(255,255,255,.0);
	-webkit-border-bottom: 1px solid rgba(255,255,255,.0);
	-moz-border-bottom: 1px solid rgba(255,255,255,.0);
	-o-border-bottom: 1px solid rgba(255,255,255,.0);
	-ms-border-bottom: 1px solid rgba(255,255,255,.0);

	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-o-border-radius: 0px;
	-ms-border-radius: 0px;

	color: white;
	-webkit-color: white;
	-moz-color: white;
	-o-color: white;
	-ms-color: white;}
.from-1:focus{
	background-color: rgba(0,0,0,0);
	-webkit-background-color: rgba(0,0,0,0);
	-moz-background-color: rgba(0,0,0,0);
	-o-background-color: rgba(0,0,0,0);
	-ms-background-color: rgba(0,0,0,0);

	border:none;
	-webkit-border:none;
	-moz-border:none;
	-o-border:none;
	-ms-border:none;

	border-bottom: 2px solid white;
	-webkit-border-bottom: 2px solid white;
	-moz-border-bottom: 2px solid white;
	-o-border-bottom: 2px solid white;
	-ms-border-bottom: 2px solid white;

	color: white;
	-webkit-color: white;
	-moz-color: white;
	-o-color: white;
	-ms-color: white;}
.from-1::placeholder{
	color: rgba(255,255,255,0.8);
	-webkit-color: rgba(255,255,255,0.8);
	-moz-color: rgba(255,255,255,0.8);
	-o-color: rgba(255,255,255,0.8);
	-ms-color: rgba(255,255,255,0.8);

	text-align: center;
	-webkit-text-align: center;
	-moz-text-align: center;
	-o-text-align: center;
	-ms-text-align: center;}
.from-1:focus::placeholder{
	color: rgba(255,255,255,0.4);
	-webkit-color: rgba(255,255,255,0.4);
	-moz-color: rgba(255,255,255,0.4);
	-o-color: rgba(255,255,255,0.4);
	-ms-color: rgba(255,255,255,0.4);}


/* BOTONES */
.place-letras-separadas::placeholder{
	letter-spacing: 2px;
	-webkit-letter-spacing: 2px;
	-moz-letter-spacing: 2px;
	-o-letter-spacing: 2px;
	-ms-letter-spacing: 2px;
}

.error{

	border: 1px solid red;
	-webkit-border: 1px solid red;
	-moz-border: 1px solid red;
	-o-border: 1px solid red;
	-ms-border: 1px solid red;

	background-color: rgba(255,200,200,.5);
	-webkit-background-color: rgba(255,200,200,.5);
	-moz-background-color: rgba(255,200,200,.5);
	-o-background-color: rgba(255,200,200,.5);
	-ms-background-color: rgba(255,200,200,.5);
}
/* SECCIONES */
.titulo-seccion{
	padding: 10px;
	-webkit-padding: 10px;
	-moz-padding: 10px;
	-o-padding: 10px;
	-ms-padding: 10px;

	text-align: center;
	-webkit-text-align: center;
	-moz-text-align: center;
	-o-text-align: center;
	-ms-text-align: center;
}
.contenido-seccion{
	padding-top: 10px;
	-webkit-padding-top: 10px;
	-moz-padding-top: 10px;
	-o-padding-top: 10px;
	-ms-padding-top: 10px;

	padding-bottom: 10px;
	-webkit-padding-bottom: 10px;
	-moz-padding-bottom: 10px;
	-o-padding-bottom: 10px;
	-ms-padding-bottom: 10px;
}
.sub-seccion{

	padding-top: 5px;
	-webkit-padding-top: 5px;
	-moz-padding-top: 5px;
	-o-padding-top: 5px;
	-ms-padding-top: 5px;

	padding-bottom: 5px;
	-webkit-padding-bottom: 5px;
	-moz-padding-bottom: 5px;
	-o-padding-bottom: 5px;
	-ms-padding-bottom: 5px;
	}

/* OTROS */
@media only screen and (max-width: 1500px) {
	.formLogin{
	height: 700px;
	-webkit-height: 700px;
	-moz-height: 700px;
	-o-height: 700px;
	-ms-height: 700px;

	display: table;
	-webkit-display: table;
	-moz-display: table;
	-o-display: table;
	-ms-display: table;
}
	.formLoginCont{
	height: 700px;
	-webkit-height: 700px;
	-moz-height: 700px;
	-o-height: 700px;
	-ms-height: 700px;
}
}

@media only screen and (max-width: 767px) {
	.formLogin{
	height: 600px;
	-webkit-height: 600px;
	-moz-height: 600px;
	-o-height: 600px;
	-ms-height: 600px;

	display: table;
	-webkit-display: table;
	-moz-display: table;
	-o-display: table;
	-ms-display: table;
}

.formLoginCont{
	height: 600px;
	-webkit-height: 600px;
	-moz-height: 600px;
	-o-height: 600px;
	-ms-height: 600px;
}
	.transparente{
	background-color: rgba(0,0,0,.8);
	-webkit-background-color: rgba(0,0,0,.8);
	-moz-background-color: rgba(0,0,0,.8);
	-o-background-color: rgba(0,0,0,.8);
	-ms-background-color: rgba(0,0,0,.8);
}
}